.impowerBox .qrcode {width: 250px;height: 180px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.status_icon {display：none}
.impowerBox .status {text-align: center;display:none;} 